inc/xml/schema_event.xml

<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : schema_event.xml
    Created on : October 30, 2009, 12:48 PM
    Author     : enygma
    Description:
        Validation schema for event information
-->

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="event_title" type="xsd:string" />
        <xsd:element name="event_start_date" type="xsd:dateTime" />
        <xsd:element name="event_end_date" type="xsd:dateTime" />
        <xsd:element name="event_desc" type="xsd:string" />
        <xsd:element name="sessions">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="session">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="session_title" type="xsd:string" />
                    <xsd:element name="session_start" type="xsd:dateTime" />
                    <xsd:element name="session_end" type="xsd:dateTime" />
                    <xsd:element name="session_desc" type="xsd:string" />
                    <xsd:element name="session_speaker" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
